extends layout

block content

  h1= title
  
  form#formCompanyName(name="companyuser",method="post", action="/companyuser")
   label(for="companyname")="Wie bent u?: "
   input#inputCompanyName(type="text", placeholder="Naam", name="companyname")
   
   br
   button#btnSubmit(type="submit") Start the selection!
   
   script.
    $( document ).ready(function() {
     var client = new Faye.Client('/faye',{
      timeout: 20
     });
     
     $("#formCompanyName").click(function() {
      var inputCompanyName = $("#inputCompanyName");

      client.publish('/channel2', {
       header: inputCompanyName.val()
      });
     });
    });

