extends layout

block content

  h1= title
  p Welcome to #{title}
  
  h1 Chat Client
  div(id="messages")
  textarea(rows="2", cols="35", id="chat")
  input(type='file', id='image')
  input(type='button', value='Chat', id='fire')
  
  script(src='/faye/client.js')
  
  script.
    var client = new Faye.Client('/faye',{
     timeout: 20
    });

    client.subscribe('/channel', function(message) {
     $('#messages').append('<p>' + message.text + '</p>');
     $('#messages').append('<img src="' + message.image + '"/>');
    });
  
    var $chat = $('#chat');
    var $image = $('#image');
    $('#fire').click(function() {

     client.publish('/channel', {
      text: $chat.val(),
      image: $image.val()
     });
    
     $chat.val('');
     $image.val('');
     return false;
    });