extends layout

block content

  h1= title
  
  label(for="companyname")="Wie bent u?: "
  input#inputCompanyName(type="text", placeholder="Naam", name="companyname")
  br
  button#btnSubmit(type="submit") Start the selection!
   
   script.
    $( document ).ready(function() {
     var client = new Faye.Client('/faye',{
      timeout: 20
     });
     
     $("#btnSubmit").on("click", function(e) {
      var inputCompanyName = $("#inputCompanyName");
      
      var publication = client.publish('/channel2', {header: inputCompanyName.val()});

      publication.then(function() {
        //alert('Message received by server!');
        $.ajax({
            type: 'POST',
            url: "/setcompanyuser",
            data: {companyname: inputCompanyName.val()},
            success: function (data) {
                console.log("Success");
            },
            dataType: "json",
            done: redirectFunction()
        });
      }, function(error) {
        alert('There was a problem: ' + error.message);
      });
      
      function redirectFunction()
      {
        setTimeout(function(){
            window.location.href="/userlist";
        }, 1000);
      }
      e.preventDefault();
     });
    });

