extends layout

block content

  h1= title
  
  label(for="companyname")="Wie bent u?: "
  input#inputCompanyName(type="text", placeholder="Naam", name="companyname")
  br
  button#btnSubmit(type="submit") Start the selection!
   
   script.
    $( document ).ready(function() {
     var client = new Faye.Client('/faye',{
      timeout: 20
     });
     
     $("#btnSubmit").on("click", function(e) {
      var inputCompanyName = $("#inputCompanyName");
     
      $.ajax({
            type: 'POST',
            url: "/setcompanyuser",
            data: {companyname: inputCompanyName.val()},
            success: function (data) {
                console.log("Success");
            },
            dataType: "json",
            done: doneFunction()
      });
      
      function doneFunction()
      {
          client.publish('/channel2', {
                   header: inputCompanyName.val()
          });
          
          redirectFunction();
      }
      
      function redirectFunction()
      {
        setTimeout(function(){
            window.location.href="/userlist";
        }, 1000);
      }
      e.preventDefault();
     });
    });

