extends layout

block content
  div#logo
    a(href="/")
     img(src="/images/logo.svg", alt="logo")
  h1#title
   span= title
  
  div#messages
   ul
  body
    
  script.
   $( document ).ready(function() {
    var client = new Faye.Client('/faye',{
     timeout: 20
    });

    client.subscribe('/channel2', function(message){
     $('#messages ul').append('<li class="votes"><h2 class="companyName">'+ message.header +'</h2></li>');
    });

    client.subscribe('/channel', function(message) {
     $('.votes').last().append('<p class="likedbyCompany">' + message.text + '</p>');
    });
    
   });
  